@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Gilory;
  src: url(../fonts/gilroy/Gilroy-Black.ttf);
}
*{
  font-family: Poppins;
  
}
h1{
  font-family: Gilory;
}