@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Gilory;
  src: url(../fonts/gilroy/Gilroy-Black.ttf);
}
h1{
  font-family: Gilory;
}
/* html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}
body {
  display: table;
  width: 100%; 
}

footer {
   display: table-row;
} */
