#section-5 > div:nth-child(2) {
  /* background-image: url(../images/main/Section5/photos.png); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
  z-index: -1;
  /* width: 100%;
    height: 0;
    padding-top: 66.64%;  */
  /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
  /* height: auto;
     */
}
#section-5 .background-image {
  position: relative;
  width: 100%;
}
/* #section-5 .overlay{
     position:absolute;

   } */
/* The overlay effect - lays on top of the container and over the image */
.overlay {
  background-image: url(../images/main/Section5/bgcard.svg);
  position: absolute;
  bottom: 0;
  color: #aaacc6;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.overlay > * {
  position: absolute;
}
/**************************/
#test {
    display: block;
    background-image: url(../images/main/Section5/bgcard.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size:contain; */
    width: 500px;
    /* height:auto;
         height: max-content; */
    border: 5px solid;
    background-color: red;
    min-height: 100%;
  
    padding-top: 3em;
    padding-left: 10%;
    padding-right: 8%;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  /* #Student-Testimonial .cart-img{

   position:absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
  min-height:100%;
  width: auto;
  left: 15%;
  right:auto;
 }
 #Student-Testimonial .cart-img>*{
   width: auto;
   display:block;
 }
 #Student-Testimonial .cart-img>p{
   top:50px;
 } */
  