#footer-bg{
    position: absolute;
    /* bottom: 0; */
    /* left:0; */
    width: 100%;
    max-height: 1320px;/* need to change*/
    min-height: 500px;
    z-index: -1;
    background-image: url(../images/footer/bgfooter.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#footer{
    background-image: url(../images/footer/bgfooter.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 3em;
    padding-left: 10%;
    padding-right: 8%;
    margin-left: auto;
    margin-right: auto; */
    width: 100%; 
    min-height: 100px;
    height: fit-content;
    height: max-content;
    color: #fff;
    text-decoration: none;
}
.contact {
    background: #ffffff;
    box-shadow: 0px 10px 50px rgba(103, 118, 255, 0.1);
    border-radius: 50px;
    color: #000;
    border: #6776ff 5px solid;
    width:fit-content;
  }
.contact p {
    color: #686b8d;
  }
.subscribe {
    /* display: table; */
    background: #f2f2f2;
    border: 1px solid #6c63ff;
    border-radius: 20px;
    height: 100px;
    width: 60%;
  }
.email-input {
    display: table-cell;
    background-color: #f2f2f2;
    /* width: 50%; */
  }
  .email-input > input {
    width: 100%;
    vertical-align: middle;
  }
  .subscribe input[type="button"] {
    color: #fff;
    background: #6776ff;
    border-radius: 20px;
    border: none;
    height: 100%;
    float: right;
    /* width:40%; */
  }
  .subscribe input[type="text"] {
    background-color: #f2f2f2;
    outline: none;
    border: none;
  }
  /*    Footer links selectors    */
  .footer-links {
    color: #fff;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 5%;
    /* width: 100%; */
    height: 100%;
    /* gap: 2em; */
    justify-content: space-between;
    align-items: baseline;
  }
  footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer-list {
    gap: 1.2em;
  }
  .footer-list span {
    margin-bottom: 0.9em;
  }
  .footer-info {
    /* flex-grow: 1; */
    flex-shrink: 1;
    flex-basis: 0;
    /* flex-basis: 100%; */
  }
  /* social main links */

  #divider {
    background-image: url(../images/footer/line.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }
  #copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #ffffff;
    opacity: 0.5;
    text-align: center;
    display: table;
    margin: 0 auto;
  }
  
  /* TO Do
      1- subscribe button
      2- contect border
  */
  