.footer {
  background-image: url(../images/footer/bgfooter.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100px;
  height: fit-content;
  height: max-content;
  color: #fff;
  text-decoration: none;
  margin-top: -350px;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer__bg {
  padding-top: 250px;
}
.footer__cantact {
  background: #ffffff;
  color: #000;
  box-shadow: 0px 10px 50px rgba(103, 118, 255, 0.1);
  border-radius: 100px;
  border: solid 3px transparent;
  background-clip: padding-box;
  /* border-image:linear-gradient(to top, white 70%, #6776ff); */
  border-width: 5px;
  /* border: #6776ff 5px solid; */
  /* width:fit-content; */
}
.footer__cantact_bg {
  /* width: fit-content; */
  /* content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  z-index: -1;
  margin: -3px;
  border-radius: 100px;
  background: linear-gradient(to top, white 50%, #6776ff);
  /* radial-gradient(circle, rgba(255,255,255,1) 53%, rgba(103,118,255,1) 100%) top,
  linear-gradient(14deg, rgba(255,255,255,1) 100%, rgb(255, 0, 0) 100%); */
  /* linear-gradient(to top, white 50%, #6776ff); */
  /* for gradiant only in bottom-right and top-left corners */
  /* background: linear-gradient(14deg, rgba(255,255,255,1) 17%, rgba(103,118,255,1) 50%, rgba(255,255,255,1) 75%); */
}
.footer__cantact p {
  color: #686b8d;
}
.footer__subscribe {
  /* display: table; */
  background: #f2f2f2;
  border: 1px solid #6c63ff;
  border-radius: 20px;
  height: 50px;
}
.footer__subscribe input {
  font-size: 0.7rem;
}
.footer__email_input {
  display: table-cell;
  background-color: #f2f2f2;
}
.footer__email_input > input {
  width: 100%;
  vertical-align: middle;
}
.footer__subscribe input[type="button"] {
  color: #fff;
  background: #6776ff;
  border-radius: 20px;
  border: none;
  height: 100%;
  float: right;
  /* width:40%; */
}
.footer__subscribe input[type="text"] {
  background-color: #f2f2f2;
  outline: none;
  border: none;
}
.footer__links {
  color: #fff;
  margin-left: 10%;
  margin-right: 8%;
  margin-bottom: 5%;
  /* width: 100%; */
  height: 100%;
  /* gap: 2em; */
  justify-content: space-between;
  align-items: baseline;
}
.footer__links h3 {
  font-size: 1.2rem;
}
.footer__links a,
.footer__links p {
  font-size: 0.8rem;
}
.footer__links span {
  font-size: 0.7rem;
}
.footer__divider {
  background-image: url(../images/footer/line.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
.footer__copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  opacity: 0.5;
  /* text-align: center;
    display: table;
    margin: 0 auto; */
}