.header--warpper {
  /* position:relative; */
  z-index: -10;
  overflow: hidden;
  width: 100%;
  margin: 0px;
}
.header--bg {
  margin-top: -20px;
  /* width:100%; */
  height: 2100px;
}
.header * {
  /* position:absolute; */
  z-index: 10;
}
/* بریا ریسپانسیو هم به چرنت هم بهئعکش ارتفاع بده. عرض عکس 100 درصد نباشد.*/
.header {
  top: 0px;
  left: 0px;
  position: absolute;
  font-family: Poppins;
  /* background-image: url(../images/header/header.svg);
  background-repeat: no-repeat;
  height:2000px;
  background-size:cover;
  background-size:k cover;
  padding-top: 3em;
  padding-left: 10%;
  padding-right: 8%;
  margin-left: auto;
  margin-right: auto; */
  width: 100%;
}
/* .header__hero .card--bg{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  margin: -3px; 
  border-radius: inherit; 
  background: linear-gradient(to bottom, white 70%, #6776ff);
} */
.header__hero .card {
  font-family: Gilory;
  width: 100%;
  box-shadow: 0px 10px 50px rgba(103, 118, 255, 0.1);
  border-radius: 35px;
  border: solid 3px transparent;
  background-clip: padding-box;
  background-color: #fff;
  height:100%;
}
.header__hero .card--bg{
  background: linear-gradient(to bottom, white 70%, #6776ff);
  margin: -3px;
  z-index:5;
  border-radius: 35px;
}
/* border: 1px transparent;
   border-width: 3px; 
   background-image: linear-gradient(white, white),
   radial-gradient(circle,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)90%, #6776FF 10%);
   background-origin: border-box; */
/* background-clip: content-box, border-box; */
.header__hero .card .card-title {
  font-family: Gilory;
}
.header__hero #card-1 .card-title {
  color: #14c798;
}
.header__hero #card-2 .card-title {
  color: #fd7b92;
}
.header__hero #card-3 .card-title {
  color: #6a7aff;
}
/* this shoud only apply in mobile view
.collapse
{
    position: absolute;
    top: 60px;

    z-index: 1;
} */
