.header {
  font-family: Poppins;
  background-image: url(../images/header/header.svg);
  background-repeat: no-repeat;
  height:2000px;
  background-size:cover;
  /* background-size: 100% 100%; */
  background-size:k cover;
  padding-top: 3em;
  padding-left: 10%;
  padding-right: 8%;
  margin-left: auto;
  margin-right: auto;
  /*background-position: top left;*/
  width: 100%;
  /* height: max-content; */
  /* height: 100%; */
}
.header__hero .card {
  font-family: Gilory;
  width: 32%;
  box-shadow: 0px 10px 50px rgba(103, 118, 255, 0.1);
  border-radius: 35px;
  border: solid 3px transparent;
  /* border-image:linear-gradient(165deg,rgb(255, 255, 255)80%,blue) 10; */
  background-clip: padding-box;
}
.header__hero .card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to bottom, white 70%, #6776ff);
}
/* border: 1px transparent;
   border-width: 3px; 
   background-image: linear-gradient(white, white),
   radial-gradient(circle,rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)90%, #6776FF 10%);
   background-origin: border-box; */
/* background-clip: content-box, border-box; */
.header__hero .card .card-title {
  font-family: Gilory;
}
.header__hero #card-1 .card-title {
  color: #14c798;
}
.header__hero #card-2 .card-title {
  color: #fd7b92;
}
.header__hero #card-3 .card-title {
  color: #6a7aff;
}
/* this shoud only apply in mobile view
.collapse
{
    position: absolute;
    top: 60px;

    z-index: 1;
} */