  /* section 1 */
#section-1  .image-container {
  background-image: url(../images/main/section-2/bg-blue.svg);
  background-position: 40% 45%;
  background-repeat: no-repeat;
  background-size: 65%;
  position: relative;
  /* width: 100%;
  height: 100%; */
  content: normal;
  display: table;
  left: 0px;
  overflow: auto;
}
.section-img {
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
  }
#section-1 #img-1 {
    /* position: absolute; */
    width: 170px;
    height: 226px;
    /* left: 315px; */
    /* top: 1344px; */
    background: #274966;
    border-radius: 190px 0px 0px 0px;
    background-image: url(../images/main/section-2/pngaaadark-blue.png);
    background-position: 0px 30px;
    background-repeat: no-repeat;
    /* background-size: contain; */
    content: "";
  }
  #section-1 #img-2 {
    width: 400px;
    height: 248px;
    left: 220px;
    top: 125px;
    /* background: linear-gradient(82.05deg, #5B3C83 2.97%, #C2A9E2 84.86%); */
    border-radius: 0px 190px 0px 0px;
    /* background-image: url(../images/main/section-2/img-purple.png),
      url(../images/main/section-2/purple.svg); */
       background-image: url(../images/main/bg-purple.svg);
    background-position: 20%, 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }
  #section-1 #img-3 {
    width: 190px;
    height: 301px;
    left: 0px;
    top: 260px;
    /* background-image: url(../images/main/section-2/pngaaa-gray.png),
      url(../images/main/section-2/6bg-gray.svg); */
    background-position: 35% 55%, 0px 0px;
    background-repeat: no-repeat;
    content: "";
    background: #D7D7D4;
border-radius: 95px;
  }
  #section-1 #img-4 {
    width: 190px;
    height: 190px;
    left: 210px;
    top: 400px;
    background: #f1cda9;
    border-radius: 95px;
    background-image: url(../images/main/section-2/pngaaapink.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    content: "";
  }
  #section-1 #img-5 {
    width: 190px;
    height: 301px;
    left: 430px;
    top: 425px;
    background: #4bbaff;
    border-radius: 0px 0px 190px 0px;
    background-image: url(../images/main/section-2//pngaaalight-blue.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    content: "";
  }
  #section-1 #img-6 {
    width: 409px;
    height: 248px;
    left: 0px;
    top: 610px;
    background: #feb825;
    border-radius: 0px 0px 0px 190px;
    background-image: url(../images/main/section-2/pngaaayellow.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    content: "";
  }
  .item-logo {
    width: 90px;
    display: inline-block;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-size: 90% 50%, 100% 100%;
    padding-right: 35px;
    background-position: center;
  }
  #section-1 #icon-2 {
    background-image: url(../images/main/section1/icon-2.svg),
      url(../images/main/section1/icon-2-bg.svg);
  }
  #section-1 #icon-3 {
    background-image: url(../images/main/section1/searchicon-3.svg),
      url(../images/main/section1/icon-3-bg.svg);
  }
  /* section 2 */

  #section-2 .card{
    background-image: url(../images/main/section-4/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
  }
  /* #section-2 .card .card-img{

  } */
  #section-2 .card-img-top{
    border-radius: 42px;;
  }
  #section-2  .card-tag {
    background: #eaedff;
    color: #6776ff;
    border-radius: 5px;
  }
  #section-2  .card-rate {
    color: #fff;
    background: #6776ff;
    border-radius: 25px;
    width: fit-content;
    justify-content: space-between;
  }
  /* section 4 */
  #section-4 {
    background: #eaedff;
    border-radius: 120px;
  }
  #section-4 .card{
    border-radius: 50px;
    border: none;
    height: auto;
    min-height: 100% !important;
  }
  /* #section-4 .card .card-img-top{
    min-height: 350px;
  } */
  #section-4 .card .card-img-top{
    width: auto;
    height: 209px;
    min-height: 209px;
  }
  #section-4 .card .btn{
    color: #fff;
    background: rgba(108, 99, 255, 0.8);
    border-radius: 10px;
    padding: 10px 15px;
  }
  #section-4 .card .card-title{
    font-family: Gilory;
  }
  /* section 5 */
  #section-5 > div:nth-child(2){
    /* background-image: url(../images/main/Section5/photos.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    z-index: -1;
    /* width: 100%;
    height: 0;
    padding-top: 66.64%;  */
    /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
    /* height: auto;
     */
   }
   #section-5 .background-image{
    position:relative;
    width:100%;
   }
   /* #section-5 .overlay{
     position:absolute;

   } */
   #test{
     display:block;
    background-image: url(../images/main/Section5/bgcard.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size:contain; */
   width:500px;
   /* height:auto;
       height: max-content; */
   border:5px solid;
   background-color:red;
   min-height: 100%;

   padding-top: 3em;
   padding-left: 10%;
   padding-right: 8%;
   margin-left: auto;
   margin-right: auto;
   }
   .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    background-image: url(../images/main/Section5/bgcard.svg);
    position: absolute;
    bottom: 0;
    color: #AAACC6;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }