/*in yeki moond*/
@media screen and (max-width: 385px) {
  /*header*/
  header #hero .card .card-title {
    font-size: 0.7rem;
  }
  header #hero .card .card-text {
    font-size: 0.5rem;
  }
  /*main*/
  #section-4 {
    border-radius: 10px;
  }
  #section-4 .card {
    border-radius: 15px;
    height: 150px;
  }
  #section-4 .card .card-img-top {
    max-height: 60px;
  }
  #section-4 .card,
  #section-4 .card .btn {
    font-size: 6px;
    /* color:red; */
  }
  #section-Student-Testimonial .qoute-card-text {
    font-size: 8px;
    width:65%;
    left:15%;
    top:42%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 70%;
    left: 40%;
    font-size: 8px;
  }
  .contact,
  #cantact-bg {
    border-radius: 20px;
  }
  #divider {
    height: 10px;
  }
}
@media screen and (min-width: 386px) {
  /*header*/
  header #hero .card .card-title {
    font-size: 0.8rem;
  }
  header #hero .card .card-text {
    font-size: 0.7rem;
  }
  /*main*/
  #section-Student-Testimonial .qoute-bg {
    width: 75%;
    left: 12%;
    top: 30%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 67%;
    left: 43%;
    font-size: 12px;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 20%;
    top: 45%;
    width: 60%;
    font-size: 10px;
  }
  #section-4 .card,
  #section-4 .card .btn {
    font-size: 8px;
    /* color:red; */
  }
  #section-4 .card .card-img-top {
    width: auto;
    max-height: 90px;
  }
  /* section 2 :Our Popular Cources */
  #section-2 .card-body > div {
    flex-direction: row;
    justify-content: space-between;
  }
  #section-2 .card-body,
  #section-2 .card-body > div,
  #section-2 .card-tag,
  #section-2 .card-rate {
    width: auto;
    font-size: 14px;
    margin: 5px 0px;
  }
  #section-2 .card-title {
    font-size: 16px;
  }
  #section-2 .card-img-top {
    border-radius: 20px;
  }
  /*footer*/
  .subscribe {
    font-size: 12px;
  }
}
@media screen and (min-width: 486px) {
  /*main*/
  #section-Student-Testimonial > div:last-child{
    height: 300px;
  }
  #section-Student-Testimonial .qoute-bg {
    width: 70%;
    left: 15%;
    top: 20%;
  }
  #section-Student-Testimonial .qoute-author-img {
    width: 35px;
  }
  #section-Student-Testimonial .qoute-author {
    top: 52%;
    left: 43%;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 22%;
    top: 35%;
    width: 55%;
    font-size: 10px;
  }
  #section-4 .card,
  #section-4 .card .btn {
    font-size: 14px;
    /* color:red; */
  }
  #section-4 .card .card-img-top {
    width: auto;
    max-height: 110px;
  }
  /*footer*/
  .subscribe {
    height: 60px;
    font-size: 14px;
  }
  #footer-links h3 {
    font-size: 1.4rem;
  }
  #footer-links a,
  #footer-links p {
    font-size: 0.9rem;
  }
  #footer-links span {
    font-size: 0.8rem;
  }
  .subscribe input {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  /*main*/
  #section-Student-Testimonial .qoute-author-img {
    width: 60px;
  }
  #section-Student-Testimonial .qoute-bg {
    width: 70%;
    left: 15%;
    top: 18%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 50%;
    left: 45%;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 22%;
    top: 30%;
    width: 55%;
    font-size: 14px;
  }
  #section-4 .card {
    font-size: 24px;
  }
  #section-4 .card .card-img-top {
    width: auto;
    max-height: 130px;
  }
  /* section 2 :Our Popular Cources */
  #section-2 .card-body,
  #section-2 .card-body > div,
  #section-2 .card-tag,
  #section-2 .card-rate {
    font-size: 16px;
    margin: 5px 0px;
  }
  #section-2 .card-title {
    font-size: 18px;
  }
  #section-2 .card-body img {
    height: 16px;
  }
  #section-2 .card-tag {
    padding-right: 2px;
    padding-left: 2px;
  }
  #section-2 .card-title {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #section-Student-Testimonial > div:last-child{
    height: 400px;
  }
  /*footer*/
  .subscribe {
    height: 70px;
  }
}
@media screen and (min-width: 992px) {
  /*header*/
  .header {
    height: auto;
  }
  header #hero .card .card-title {
    font-size: 1rem;
  }
  header #hero .card .card-text {
    font-size: 0.7rem;
  }
  /*main*/

  #section-Student-Testimonial .qoute-author-img {
    width: 80px;
  }
  #section-Student-Testimonial .qoute-bg {
    top: 10%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 60%;
    left: 45%;
    font-size: 1rem;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 25%;
    top: 25%;
    width: 50%;
    font-size: 1rem;
  }
  #section-Student-Testimonial .qoute-author {
    top: 50%;
    left: 45%;
  }
  /* section 2 :Our Popular Cources */
  #section-2 .card {
    width: 94%;
    height: 99%;
    font-size: 14px;
  }
  #section-2 .card-tag {
    padding-right: 2px;
    padding-left: 2px;
  }
  #section-2 .card-title {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #section-4 .card .card-img-top {
    width: auto;
    max-height: 150px;
  }
  /*footer*/
  .footer-bg {
    padding-top: 0px;
  }
  footer {
    margin-top: auto;
  }
  .subscribe {
    height: 80px;
    font-size: 14px;
  }
  #footer-links h3 {
    font-size: 1.4rem;
  }
  #footer-links a,
  #footer-links p {
    font-size: 0.9rem;
  }
  #footer-links span {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  /*header*/
  header #hero .card .card-title {
    font-size: 1.3rem;
  }
  header #hero .card .card-text {
    font-size: 1rem;
  }
  /*main*/
  #section-Student-Testimonial .qoute-author-img {
    width: 100px;
  }
  #section-Student-Testimonial .qoute-bg {
    width: 60%;
    left: 20%;
    top: -5%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 35%;
    left: 45%;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 28%;
    top: 15%;
    width: 45%;
  }
  #section-2 .card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  /* footer */
  .footer-info {
    flex: 0 0 20%;
  }
  .subscribe {
    height: 90px;
  }
  #footer-links h3 {
    font-size: 1.6rem;
  }
  #footer-links a,
  #footer-links p {
    font-size: 1rem;
  }
  #footer-links span {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1400px) {
  /*main*/
  #section-Student-Testimonial .qoute-bg {
    width: 70%;
    left: 15%;
    top: -15%;
  }
  #section-Student-Testimonial .qoute-author {
    top: 50%;
    left: 46%;
  }
  #section-Student-Testimonial .qoute-card-text {
    left: 27%;
    top: 15%;
    width: 45%;
    font-size: 20px;
  }
  /* section 2 :Our Popular Cources */
  #section-2 .card {
    width: 98%;
    height: 99%;
  }
  #section-2 .card-img-top {
    border-radius: 45px;
  }
  #section-2 .card-tag {
    padding-right: 5px;
    padding-left: 5px;
  }
  #section-2 .card-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /*footer*/
  .subscribe {
    height: 100px;
  }
  #footer-links {
    width: 83.33%;
  }
  #footer-links h3 {
    font-size: 1.75rem;
  }
  #footer-links a,
  #footer-links p,
  #footer-links span {
    font-size: 1rem;
  }
}
