@media screen and (max-width: 385px) {
  /*header*/
  .header--bg {
    width: auto;
    height: 2000px;
  }
  .header__card_title {
    font-size: 0.7rem;
  }
  .header__cart_text {
    font-size: 0.5rem;
  }
  /*main*/
  .main {
    margin-top: -450px;
  }
  .main__innovation {
    border-radius: 10px;
  }
  .main__innovation .card {
    border-radius: 15px;
    height: 150px;
  }
  .main__innovation .card .card-img-top {
    max-height: 60px;
  }
  .main__innovation .card,
  .main__innovation .card .btn {
    font-size: 6px;
    /* color:red; */
  }
  .footer__cantact,
  .footer__cantact_bg {
    border-radius: 20px;
  }
  .footer__copyright {
    height: 10px;
  }
}
@media screen and (min-width: 386px) {
  /*header*/
  /*header*/
  .header--bg {
    width: auto;
    height: 2000px;
  }
  /*main*/
  .main {
    margin-top: -350px;
  }
  .main__innovation .card,
  .main__innovation .card .btn {
    font-size: 8px;
    /* color:red; */
  }
  .main__innovation .card .card-img-top {
    width: auto;
    max-height: 90px;
  }
  /* section 2 :Our Popular Cources */
  .main__popular_courses .card-body > div {
    flex-direction: row;
    justify-content: space-between;
  }
  .main__popular_courses .card-body,
  .main__popular_courses .card-body > div,
  .main__popular_courses .card-tag,
  .main__popular_courses .card-rate {
    width: auto;
    font-size: 14px;
    margin: 5px 0px;
  }
  .main__popular_courses .card-title {
    font-size: 16px;
  }
  .main__popular_courses .card-img-top {
    border-radius: 20px;
  }
   .main__testimonial .testimonial__content,
  .main__testimonial .testimonial__author .author__name,
  .main__testimonial .testimonial__author .author__role {
    font-size: 8px;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 20px;
    height: 20px;
  }
  /*footer*/
  .footer__subscribe {
    font-size: 12px;
  }
}
@media screen and (min-width: 486px) {
  /*header*/
  .header--bg {
    width: auto;
    height: 2250px;
  }
  /*main*/
  .main {
    margin-top: -600px;
  }
  .main__innovation .card,
  .main__innovation .card .btn {
    font-size: 14px;
    /* color:red; */
  }
  .main__innovation .card .card-img-top {
    width: auto;
    max-height: 110px;
  }
  .main__testimonial > div:last-child {
    height: 250px;
  }
  .main__testimonial .testimonial__content,
  .main__testimonial .testimonial__author .author__name,
  .main__testimonial .testimonial__author .author__role {
    font-size: 12px;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 40px;
    height: 40px;
  }
  /*footer*/
  .footer__subscribe {
    height: 60px;
    font-size: 14px;
  }
  .footer__links h3 {
    font-size: 1.4rem;
  }
  .footer__links a,
  .footer__links p {
    font-size: 0.9rem;
  }
  .footer__links span {
    font-size: 0.8rem;
  }
  .footer__subscribe input {
    font-size: 1rem;
  }
}
@media screen and (min-width: 486px) and (max-width: 576px) {
  .header--bg {
    height: 2300px;
  }
  .main {
    margin-top: -450px;
  }
}
@media screen and (min-width: 768px) {
  /*header*/
  .header--bg {
    height: 1700px;
  }
  /*main*/
  .main {
    margin-top: -100px;
  }

  .main__innovation .card {
    font-size: 24px;
  }
  .main__innovation .card .card-img-top {
    width: auto;
    max-height: 130px;
  }
  /* section 2 :Our Popular Cources */
  .main__popular_courses .card-body,
  .main__popular_courses .card-body > div,
  .main__popular_courses .card-tag,
  .main__popular_courses .card-rate {
    font-size: 16px;
    margin: 5px 0px;
  }
  .main__popular_courses .card-title {
    font-size: 18px;
  }
  .main__popular_courses .card-body img {
    height: 16px;
  }
  .main__popular_courses .card-tag {
    padding-right: 2px;
    padding-left: 2px;
  }
  .main__popular_courses .card-title {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .main__testimonial > div:last-child {
    height: 250px;
  }
  .main__testimonial .testimonial__content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 50px;
    height: 50px;
  }
  .main__testimonial .testimonial__author .author__name,
  .main__testimonial .testimonial__author .author__role {
    font-size: 12px;
  }
  /*footer*/
  .footer__subscribe {
    height: 70px;
  }
}
@media screen and (min-width: 992px) {
  /*header*/
  .header {
    height: auto;
  }
  .header--bg {
    height: 1000px;
  }
  .header__card_title {
    font-size: 1rem;
  }
  .header__cart_text {
    font-size: 0.7rem;
  }
  /*main*/
  .main {
    margin-top: -150px;
  }
  .main__testimonial > div:last-child {
    height: 300px;
  }
  .main__testimonial .testimonial__content {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 60px;
    height:60px;
  }
  .main__testimonial .testimonial__author .author__name {
    font-size: 20px;
  }
  .main__testimonial .testimonial__author .author__name {
    font-weight: 500;
    font-size: 20px;
  }
  /* section 2 :Our Popular Cources */
  .main__popular_courses .card {
    width: 94%;
    height: 99%;
    font-size: 14px;
  }
  .main__popular_courses .card-tag {
    padding-right: 2px;
    padding-left: 2px;
  }
  .main__popular_courses .card-title {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .main__innovation .card .card-img-top {
    width: auto;
    max-height: 150px;
  }
  /*footer*/
  .footer {
    margin-top: auto;
  }
  .footer__bg {
    padding-top: 0px;
  }
  .footer__subscribe {
    height: 80px;
    font-size: 14px;
  }
  .footer__links h3 {
    font-size: 1.4rem;
  }
  .footer__links a,
  .footer__links p {
    font-size: 0.9rem;
  }
  .footer__links span {
    font-size: 0.8rem;
  }
}
/*and (max-width: 1399px)*/
@media screen and (min-width: 1200px) {
  /*header*/
  .header--bg {
    height: auto;
  }
  .header__card_title {
    font-size: 1.3rem;
  }
  .header__cart_text {
    font-size: 1rem;
  }
  /*main*/
    .main__testimonial > div:last-child {
    height: 400px;
  }
  .main__popular_courses .card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .main__innovation .card .card-img-top {
    width: auto;
    max-height: 190px;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 80px;
    height: 80px;
  }
  /* .main__testimonial .testimonial__content {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
  }
  .main__testimonial .testimonial__author .author__picture{
    width: 100px;
    height: 100px;
  }
  .main__testimonial .testimonial__author .author__name{
    font-size: 20px;
  }
  .main__testimonial .testimonial__author .author__name{
    font-weight: 500;
    font-size: 20px;
  } */
  /* footer */
  .footer__info {
    flex: 0 0 20%;
  }
  .footer__subscribe {
    height: 90px;
  }
  .footer__links h3 {
    font-size: 1.6rem;
  }
  .footer__links a,
  .footer__links p {
    font-size: 1rem;
  }
  .footer__links span {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1400px) {
  /*header*/
  .header .hero .header__card_title {
    font-size: 35px;
  }
  .header .hero .header__cart_text {
    font-size: 20px;
  }
  /*main*/
  /* section 2 :Our Popular Cources */
  .main__popular_courses .card {
    width: 98%;
    height: 99%;
  }
  .main__popular_courses .card-img-top {
    border-radius: 45px;
  }
  .main__popular_courses .card-tag {
    padding-right: 5px;
    padding-left: 5px;
  }
  .main__popular_courses .card-title {
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .main__testimonial .testimonial__author .author__picture {
    width: 90px;
    height: 90px;
  }
  /*Section 5: student testiomonal*/
  /* .main__testimonial .testimonial__content {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
  }
  .main__testimonial .testimonial__author .author__picture{
    width: 100px;
    height: 100px;
  }
  .main__testimonial .testimonial__author .author__name{
    font-size: 20px;
  }
  .main__testimonial .testimonial__author .author__name{
    font-weight: 500;
    font-size: 20px;
  } */
  /*footer*/
  .footer__subscribe {
    height: 100px;
  }
  .footer__links {
    width: 83.33%;
  }
  .footer__links h3 {
    font-size: 1.75rem;
  }
  .footer__links a,
  .footer__links p,
  .footer__links span {
    font-size: 1rem;
  }
}
